// Fuentes
$font-principal: 'Roboto', sans-serif;
$font-titulos: 'Asimovian', sans-serif;
$font-precios: "PT Serif", serif;

// Paleta de Colores
$color-primario: #3483FA;
$color-secundario: #FFF159; 
$color-terciario: #6f42c1; 
$color-peligro: #dc3545;

$color-texto-principal: #333333;
$color-texto-claro: #555;
$color-fondo: #dbdbdb;
$color-fondo-claro: #f8f9fa;
$color-blanco: #fff;
$color-negro: #000;
$color-borde: #dee2e6;