.custom-header {
  background-color: $color-secundario;
  color: $color-texto-principal;
}

.custom-encabezado {

  .custom-h1-encabezado {
    font-size: 2.5rem;
    margin: 0;
  }

  .custom-parrafo-encabezado {
    font-size: 1.2rem;
    margin: 0;
  }
}

// Estilos para la barra de navegación de Bootstrap
.navbar {
    .nav-link {
        font-size: 1.1rem; 
    }
    @media (max-width: 768px) {
        .navbar-nav .nav-link {
            font-size: 1.25rem;
            padding: 0.5rem 1rem;
        }
    }
}