//Reset de CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-fondo;
  font-family: $font-principal;
  color: $color-texto-principal;
}

a {
  text-decoration: none;
  color: $color-negro;
}